@model DACS_WebClothes.Models.CommentProduct
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card-bodi" style="border: 1px solid black; padding: 0 100px 0 100px" ;>
                <div class="category">
                    <p>XÓA BÌNH LUẬN</p>
                </div>
                <h3 style="margin-bottom: 10px">Bạn có chắc chắn muốn xóa bình luận này ?</h3>
                <div class="form-group row">
                    <div class="col-md-8">
                        <label class="control-label">Sản phẩm: </label>
                        @Html.DisplayFor(model => model.Product.Name)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-8">
                        <label class="control-label">Khách hàng: </label>
                        @Html.DisplayFor(model => model.User.FullName)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-8">
                        <label class="control-label">Nội dung: </label>
                        @Html.DisplayFor(model => model.ComProName)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-8">
                        <label class="control-label">Ngày gửi: </label>
                        @Html.DisplayFor(model => model.DateBegin)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="text-center">
                        <label class="control-label">Ẩn/Hiện: </label>
                        @Html.DisplayFor(model => model.Hidden)
                    </div>
                </div>
                <form action="~/Admin/AdminCommentPro/Delete" method="post">
                    <div class="col-md-12" style="margin-bottom: 50px">
                        <input type="hidden" name="Id" value="@Model.ComProId" />
                        <input type="submit" value="Xóa" class="btn btn-create-new" />
                        <a class="btn btn-create-new" href="~/Admin/AdminCommentPro" style="margin-left: 10px" ;>Trở lại</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>