@model DACS_WebClothes.Models.CommentProduct
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div style="color:black">
<h1>Details</h1>

<div>
    <h4>Feedback</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComProName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComProName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateBegin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateBegin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Model.Product.Name
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
           @Model.User.Username
        </dd>
    </dl>
</div>
<div>
    <a href="~/Admin/AdminFeedbacks/Edit?id=@Model.ProductId">Edit</a> |
    <a href="~/Admin/AdminFeedbacks/Index">Back to List</a>
</div>
</div>