@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@model DACS_WebClothes.ViewModels.BlogViewModel

<div class="row" style="margin-top: 60px">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="category">
            <p>TẤT CẢ BÀI VIẾT</p>
        </div>
        <div class="row">
            @foreach (var blog in Model.Blogs)
            {
                <div class="col-md-12">
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <img src="~/images/@blog.Image" class="card-img-top" alt="@blog.Title" style="width:200px">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h4 class="card-title" style="color:red">@blog.Title</h4>
                                    <span class="card-text" style="margin-bottom:15px">
                                        @(
                                            @blog.Content.Length > 160 ? @blog.Content.Substring(0, 160) + "..." : @blog.Content
                                            )
                                    </span>
                                    <a href="/bai-viet/@blog.Link-@blog.BlogId">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- Pagination controls -->
        <div class="panel-footer text-center">
            <ul class="pagination justify-content-center">
                <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = 1 })" aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = Model.CurrentPage - 1 })" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                    </li>
                }
                <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = Model.CurrentPage + 1 })" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = Model.TotalPages })" aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

@section scripts {
    <script src="~/js/cart.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
}
